<!DOCTYPE html>
<html>
<head>
  <title>Pique</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="css/lib/bootstrap.css">
  <link rel="stylesheet" href="css/lib/bootstrap-theme.css">
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>
